/* about stylings */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  padding: 0px 40px;
  color: #ffe4c4;
}
nav div {
  font-weight: bold;

}
nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
}
.about-container {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 0px 40px;
  font-size: 25px;
}
.about-container div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
