@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
  --primary-color: #ffe4c4;
  --secondary-color: #1b0d03;
}

::-webkit-scrollbar{
    display: none;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {

    background-color:var(--secondary-color);
    color: var(--primary-color) ;
}

nav {
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 20vh;
    width: 100%;
    
    padding: 0px 40px;
}
nav a {
    color:  #ffe4c4;
    
}
ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.logo {
    font-weight: bold;
}

